/*import fonts from fonts.css file*/

@import url(./fonts.css);

body{
    background-color: #f8f8f8;
}

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 4rem;
}

.header_area .main-menu .navbar{
    padding-left: 0rem;
    padding-right: 3rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: "Roboto", cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    background: linear-gradient(90deg, #02aab0 0%, #00cdac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: linear-gradient(90deg, #02aab0 0%, #00cdac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* end navigation */

/* Banner area */

.site-main .site-banner{
    background: url(/img/background.jpg) no-repeat 50% 100%;
    background-size: cover;
    height: 740px;
}

.site-main .site-banner .site-title h1{
    font-size: 3.5rem;
    padding-top: 25%;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    
}

.site-main .site-banner .banner-img > img{
    padding-top: 5rem;
}

.title-text{
    font: normal bold 50px/70px "Roboto", cursive;
}

/* end Banner area */


.title-description{
    font-style: normal;
    font-size: 1.5rem;
    color: #00cdac;
    padding-bottom: 2rem;
}

/* Begin Intro area */

.intro-area{
    padding: 10%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.intro-title{
    font-style: normal;
    font-size: 2rem;
    padding-bottom: 30px;
}

.intro-paragraph{
    
    font-style: normal;   
    font-size: 1.3rem;
    font-weight: normal;
}

/* End Intro area */

/* Begin Skills area */

.skills-area{
    padding: 10%;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.skills-title{
    font-style: normal;
    font-size: 2rem;
    
}

.skills-area .skills-list{
    padding-left: 0%;
    padding-right: 0%;
}
.skill-container{
    padding-bottom: 2rem;
}
.skills{
    background-color: #d5fcf9;
    border-radius: 5px;
    box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
}

/* End Skills area */

/* Begin Projects area */

.projects-area{
    padding: 10%;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.projects-title{
    font-style: normal;
    font-size: 2rem;
    
}

.projects-area .projects-list{
    padding-left: 0%;
    padding-right: 0%;
}

.project-container{
    padding-bottom: 2rem;
}


/* End Projects area */

/* Begin Achievements area */

.achieves-area{
    padding: 7%;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.achieves-title{
    font-style: normal;
    font-size: 2rem;
    
}

.achieves-area .achieves-list{
    padding-left: 0%;
    padding-right: 0%;
}
.achieve-container{
    padding-bottom: 2rem;
    border-color: #02aab0;
}
.achieve{
    border-radius: 5px;
    box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
}

/* End Achievements area */

/* Begin Interests area */

.interests-area{
    padding: 7%;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.interests-title{
    font-style: normal;
    font-size: 2rem;
    
}

/* End Interests area */

/* Begin Footer area */

.footer{
    background-color: rgb(51, 48, 48);
}

.footer-container{
    padding: 2rem;
}

.footer-text{
    color: whitesmoke;
}

/* End Footer area */